<div class="menu-main manager-groupdevice dispay_none" style=" padding-left: 20px; padding-right: 20px; background-color: #EAEDF1; margin-top:27px;">
    <div class="col-md-12 text-center">
        <h3 style="color:#0044aa; font-weight:bold">GROUP MANAGEMENT</h3>
    </div>
    <div class="col-lg-12 display-none">
        <div class="form-group">
            <button type="button" class="btn btn-primary js-add-group"><i class="fa fa-plus-circle"></i>&nbsp;Add Device Group</button>
        </div>
    </div>
    <div class="row groupdevice">
        <div class="col-lg-12">
            <div id="devices_table" class="table-responsive">
                <div class="table-responsive">
                    <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">

                        <table id="data-group-device" class="dataTable no-footer table table-vcenter table-condensed table-bordered">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" style="width: 200px;" aria-sort="ascending"> ID code</th>
                                    <th class="sorting"  aria-label=" Name: activate to sort column ascending" style="width: 200px;"> Group name</th>
                                    <th class="sorting" aria-label=" Desc: activate to sort column ascending"> Description</th>
                                    <th class="sorting_disabled" style="width: 120px;"> Action</th>
                                </tr>
                            </thead>
                            <tbody class="main-group-device">
                               
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
