<div class="menu-main usermanagergroup tab-pane active dispay_none" id="tab_0" style="background: white;">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption col-md-3">
                <i class="fa fa-reorder"></i>User group permition
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">

                <div class="row" style="margin-top:10px; margin-bottom:10px">
                    <div class="col-md-3" style="padding-right:0px !important">
                        <div class="systemaccount" style="width:100%">
                            <div style="width: 100%; height: 17px; background-color: #EEEEEE; text-align: center">
                                Map menu system
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"></label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <label style="margin-left:5px">Access</label>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"> Map Tracking</label>
                                <div class="col-md-5">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_GroupAc"><span><input type="checkbox" id="ac_map" class="permitionall"></span></div>
                                    </div>                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="systemaccount" style="width:100%">
                            <div style="width: 100%; height: 17px; background-color: #EEEEEE; text-align: center">
                                Report management
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"></label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3" style="padding:0px !important;">
                                        <label style="margin-left:5px">Access</label>
                                    </div>                                  
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Report Menu management</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_mana"><span><input type="checkbox" id="ac_menurp" class="permitionall"></span></div>
                                    </div>                                 
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"> By tracked tag </label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_kh"><span><input type="checkbox" id="ac_rpbytracked" class="permitionall"></span></div>
                                    </div>                              
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"> By group </label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_nv"><span><input type="checkbox" id="ac_rpbygroup" class="permitionall"></span></div>
                                    </div>                           
                                </div>
                            </div>
                            <div style="width: 100%">
                                <label class="col-md-7" style="padding: 0px !important">Compare 2 tracked tag</label>
                                <div class="col-md-5" style="padding: 0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_og"><span><input type="checkbox" id="ac_compare" class="permitionall"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">animation</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker"><span><input type="checkbox" id="ac_animation" class="permitionall"></span></div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="systemaccount" style="width:100%">
                            <div style="width: 100%; height: 17px; background-color: #EEEEEE; text-align: center">
                                System management
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"></label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3" style="padding:0px !important;">
                                        <label style="margin-left:5px">Access</label>
                                    </div>                                   
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"> Menu system management</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_sytemsp"><span><input type="checkbox" id="ac_mensys" class="permitionall"></span></div>
                                    </div>                                 
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Group management</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_hb"><span><input type="checkbox" id="ac_groupdevice" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Tracked tag management</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_sah"><span><input type="checkbox" id="ac_trackedtag" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">User group permission </label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_mb"><span><input type="checkbox" id="ac_usergroup" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Local user management </label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_gb"><span><input type="checkbox" id="ac_user" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            @*<div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"> Configuration</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_sav"><span><input type="checkbox" id="ac_config" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Fingerprints</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_db"><span><input type="checkbox" id="ac_findger" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>*@                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="systemaccount" style="width:100%">
                            <div style="width: 100%; height: 17px; background-color: #EEEEEE; text-align: center">
                                General
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important"></label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3" style="padding:0px !important;">
                                        <label style="margin-left:5px">Access</label>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Menu General</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_rp"><span><input type="checkbox" id="ac_menugeneral" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>

                            </div>
                            @*<div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Levels</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_rp_per_day"><span><input type="checkbox" id="ac_level" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Floor Plans</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker" id="uniform-access_rp_s_inven"><span><input type="checkbox" id="ac_floor" class="permitionall"></span></div>
                                    </div>
                                    
                                </div>
                            </div>*@
                            <div style="width: 100%">
                                <label class="col-md-7" style="padding: 0px !important">Log In</label>
                                <div class="col-md-5" style="padding: 0px !important">
                                    <div class="col-md-3">
                                        <div class="checker"><span><input type="checkbox" id="ac_login" class="permitionall"></span></div>
                                    </div>

                                </div>
                            </div>
                            <div style="width: 100%">
                                <label class="col-md-7" style="padding: 0px !important">Change Password</label>
                                <div class="col-md-5" style="padding: 0px !important">
                                    <div class="col-md-3">
                                        <div class="checker"><span><input type="checkbox" id="ac_change" class="permitionall"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%">
                                <label class="col-md-7" style="padding:0px !important">Logout</label>
                                <div class="col-md-5" style="padding:0px !important">
                                    <div class="col-md-3">
                                        <div class="checker"><span><input type="checkbox" id="ac_logout" class="permitionall"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:99%; background-color:red; height:1px; margin:0 auto">

                </div>
                <div class="form-body row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4"> ID code :</label>
                            <div class="col-md-5">
                                <input type="text" maxlength="50" class="form-control ur-mac" >
                                <input type="hidden" class="form-control ur-ud"  value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Group name :</label>
                            <div class="col-md-5">
                                <input type="text" maxlength="50" class="form-control ur-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Description :</label>
                            <div class="col-md-5">
                                <input type="text" maxlength="50" class="form-control ur-dec">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-primary btn-usergroup"><i class="fa fa-plus-circle"></i>Save</button>
                                <button type="button" class="btn btn-danger btn-clearusergroup"><i class="fa fa-plus-circle"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>


    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>List of existing Group permission
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <table class="dataTable no-footer table table-vcenter table-condensed table-bordered" id="data-usergroup">
                <thead>
                    <tr>
                        <th>Group Mac</th>
                        <th>Group Name</th>
                        <th>Description</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>

            <!-- END FORM-->
        </div>
    </div>
</div>
<script src="~/Scripts/Script_system/UserGroup.js"></script>